<form action="/addP" method="POST" id="former">
    <p>Nome</p>
    <input type="texte" name="Nome">
    <p>localizaçao</p>
    <input type="texte" name="localizacao">
    <p>Email</p>
    <input type="texte" name="Email">
    <p>Senha</p>
    <input type="texte" name="Senha">
    <p>MedRespons</p>
    <input type="texte" name="MedRespons">
    <p>vacina1</p>
    <input type="texte" name="vacina1">
    <p>vacina2</p>
    <input type="texte" name="vacina2">
    <p>vacina3</p>
    <input type="texte" name="vacina3">
    <p>vacina4</p>
    <input type="texte" name="vacina4">
    <p>vacina5</p>
    <input type="texte" name="vacina5">
    <p>vacina6</p>
    <input type="texte" name="vacina6">
    <p>vacina7</p>
    <input type="texte" name="vacina7">
    <p>vacina8</p>
    <input type="texte" name="vacina8">
    <p>vacina9</p>
    <input type="texte" name="vacina9">
    <p>vacina10</p>
    <input type="texte" name="vacina10">
    <p>vacina11</p>
    <input type="texte" name="vacina11">
    <p>vacina12</p>
    <input type="texte" name="vacina12">
    <p>vacina13</p>
    <input type="texte" name="vacina13">
    <p>vacina14</p>
    <input type="texte" name="vacina14">
    <p>vacina15</p>
    <input type="texte" name="vacina15">
    <button type="submit">Cadastrar postagem</button>
</form>