{{#each postos}}


<div>
    <p>{{dataValues.Nome}}</p>
    <p>{{dataValues.Email}}</p>
    <p>{{dataValues.localizacao}}</p>
    <a href="/editeVacinas/{{dataValues.id}}"><button >editar</button></a>
</div>





{{/each}}