<form action="/add" method="POST">
    <p>Nome</p>
    <input type="texte" name="nome">
    <p>Idade</p>
    <input type="texte" name="idade">
    <button type="submit">Cadastrar postagem</button>
</form>