<main>
    <section class="banner">
        <div class="sliders" style="margin-left:0;">
            <div class="slide">
                <div class="slidearea">
                    <h1>Sistema de Vacinas<br /><span>uniritter</span></h1>

                </div>
            </div>
        </div>
    </section>

    <section class="default light">
        <div class="section-title">Importância</div>
        <div class="section-desc">Por que se vacinar?</div>
        <div class="section-body">
            <div class="section-aboutus">
                <div class="section-aboutus--left">
                    <p>A importância da vacinação vai muito além da prevenção individual.
                        Ao se vacinar, você está ajudando toda a comunidade a diminuir os casos de determinada doença.
                        Vacinas são substâncias que possuem como função estimular nosso corpo a produzir respostas
                        imunológicas a fim de nos proteger contra determinada doença.</p>
                    <p>Quando nos vacinamos, apresentamos ao nosso corpo um antígeno até então desconhecido. O corpo
                        passa, com isso, a produzir anticorpos contra ele. Nesse primeiro momento, a produção de
                        anticorpos é relativamente lenta. Além da produção de anticorpos, o organismo produz células de
                        memória, ou seja, células que, ao serem expostas novamente ao mesmo antígeno, serão capazes de
                        produzir anticorpos mais rapidamente.</p>
                    <br />

                </div>

            </div>
        </div>
        <section class="default light">
            <div class="section-title">MAIS SOBRE VACINAS</div>
            <div class="section-desc">Detalhes</div>

        </section>






</main>