<main>
    <section class="banner">
        <div class="sliders" style="margin-left:0;">
            <div class="slide">
                <div class="slidearea">
                    <h1>Sistema de Vacinas<br /><span>uniritter</span></h1>
                    <h2>grupo 7</h2>
                    <a href="" class="button">Confira</a>
                </div>
            </div>
            <div class="slide">
                <div class="slidearea">
                    <h1>Sistema de Vacinas<br /><span>uniritter</span></h1>
                    <h2>grupo 7</h2>
                    <a href="" class="button">Confira</a>
                </div>
            </div>
            <div class="slide">
                <div class="slidearea">
                    <h1>Sistema de Vacinas<br /><span>uniritter</span></h1>
                    <h2>grupo 7</h2>
                    <a href="" class="button">Confira</a>
                </div>
            </div>
        </div>
        <div class="sliders-pointers">
            <div class="pointer active"></div>
            <div class="pointer"></div>
            <div class="pointer"></div>
        </div>
    </section>

    <section class="default light">
        <div class="section-title">Importância</div>
        <div class="section-desc">Por que se vacinar?</div>
        <div class="section-body">
            <div class="section-aboutus">
                <div class="section-aboutus--left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eros vitae erat condimentum
                        viverra a nec lacus. Maecenas eros lectus, rhoncus vel dictum vel, dignissim eget ligula.
                        Vestibulum id tempus quam, sed pellentesque quam. Vestibulum porta aliquet risus, ac rhoncus sem
                        aliquet ac. Donec tincidunt cursus elit vitae euismod. Morbi ex felis, tincidunt sed hendrerit
                        finibus, malesuada eu urna. Sed rutrum sodales mi a varius.</p>
                    <br />
                    <a href="" class="button">Learn More</a>
                </div>

            </div>
        </div>
    </section>






</main>