<main>

    <section class="default green">
        <div class="section-title">Postos de Vacinação</div>
        <div class="section-body">
            <div class="section-locations"></div>
        </div>


        <div class="container">
            <div class="dropdown">
                <!-- Basic dropdown -->

                <p class="active">Posto de vacinação Jubileu</p>
                <br> Localização
                <br> Porto Alegre talz talz
                <hr>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">

                    <p class="fa fa-plus-square"></p>

                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto"></ul>


                    <table>
                        <tr>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                        </tr>

                        <tr>
                            <td>Dengue</td>
                            <td>Disponível</td>
                            <td>Febre Amarela</td>
                            <td>Disponível </td>
                            <td>Hepatite A</td>
                            <td>Disponível </td>
                        </tr>

                        <tr>
                            <td>Hepatite B</td>
                            <td>Disponível</td>
                            <td>Hepatite A e B</td>
                            <td>Disponível </td>
                            <td>Herpes-zóster</td>
                            <td>Disponível </td>
                        </tr>

                        <tr>
                            <td>HPV</td>
                            <td>Disponível</td>
                            <td>Influenza (gripe)</td>
                            <td>Disponível </td>
                            <td>Meningocócica <br> ACWY ou C</td>
                            <td>Disponível </td>
                        </tr>

                        <tr>
                            <td>Meningocócica B</td>
                            <td>Disponível</td>
                            <td>Pneumocócica 23-valente (polissacarídica(VPP23)</td>
                            <td>Disponível </td>
                            <td>Pneumocócica13- valente (conjugada)(VPC13)</td>
                            <td>Disponível </td>
                        </tr>

                        <tr>
                            <td>Tríplice bacteriana tipo adulto (dTpa) <br> ou dupla adulto (dT)</td>
                            <td>Disponível</td>
                            <td>Tríplice viral (SCR)</td>
                            <td>Disponível </td>
                            <td>Varicela</td>
                            <td>Disponível </td>
                        </tr>
                    </table>
                    </a>
                </div>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="dropdown">
                <!-- Basic dropdown -->

                <p class="active">Posto de vacinação Jubileu</p>
                <br> Localização
                <br> Porto Alegre talz talz
                <hr>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
                    aria-label="Toggle navigation">

                    <p class="fa fa-plus-square"></p>

                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <ul class="navbar-nav ml-auto"></ul>


                    <table>
                        <tr>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                        </tr>

                        <tr>
                            <td>Dengue</td>
                            <td>Disponível</td>
                            <td>Febre Amarela</td>
                            <td>Disponível </td>
                            <td>Hepatite A</td>
                            <td>Disponível </td>
                        </tr>

                        <tr>
                            <td>Hepatite B</td>
                            <td>Disponível</td>
                            <td>Hepatite A e B</td>
                            <td>Disponível </td>
                            <td>Herpes-zóster</td>
                            <td>Disponível </td>
                        </tr>

                        <tr>
                            <td>HPV</td>
                            <td>Disponível</td>
                            <td>Influenza (gripe)</td>
                            <td>Disponível </td>
                            <td>Meningocócica <br> ACWY ou C</td>
                            <td>Disponível </td>
                        </tr>

                        <tr>
                            <td>Meningocócica B</td>
                            <td>Disponível</td>
                            <td>Pneumocócica 23-valente (polissacarídica(VPP23)</td>
                            <td>Disponível </td>
                            <td>Pneumocócica13- valente (conjugada)(VPC13)</td>
                            <td>Disponível </td>
                        </tr>

                        <tr>
                            <td>Tríplice bacteriana tipo adulto (dTpa) <br> ou dupla adulto (dT)</td>
                            <td>Disponível</td>
                            <td>Tríplice viral (SCR)</td>
                            <td>Disponível </td>
                            <td>Varicela</td>
                            <td>Disponível </td>
                        </tr>
                    </table>
                    </a>
                </div>
            </div>
        </div>

    </section>





</main>

{{!-- <div class="container">
  <h2>Dropdowns</h2>
  <p>The .dropdown class is used to indicate a dropdown menu.</p>
  <p>Use the .dropdown-menu class to actually build the dropdown menu.</p>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
  </div>
</div> --}}

<footer>
    <div class="footer--area">
        <div class="footer--item area1">
            <div class="footer-social">
                <a href=""><img src="images/twitter.png" /></a>
                <a href=""><img src="images/linkedin.png" /></a>
                <a href=""><img src="images/facebook.png" /></a>
            </div>
        </div>
        <div class="footer--item area2">
            rodapé
        </div>
    </div>
</footer>