<div class="table-vacinas">
    <h1>Calendário de Vacinação (20 + anos)</h1>
    <table>
        <caption>
            (A): vacina de vírus vivo atenuado: em geral é contra indicada para imunocomprometidos,
            gestantes e puérperas, ficando a critério do médico a sua recomendação nessas situações.
            *Qualquer dose não administrada na idade recomendada deve ser aplicada na visita subsequente.*
            *Algumas vacinas podem ser especialmente recomendadas para pacientes com comorbidades ou
            em outras situações especiais. Consulte os Calendários de Vacinação SBIm para Pacientes Especiais.
        </caption>
        <tr>
            <th scope="col">Vacinas</th>
            <th scope="col">Esquema Vacinal</th>
            <th scope="col" colspan="2">Recomendações e Comentários</th>
            <th scope="col">Rede Pública</th>
        </tr>

        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">20 a 59 anos</th>
        <th scope="col">≥ 60 anos</th>
        <th scope="col"></th>

        <tr>
            <th scope="row">Dengue [A]</th>
            <td>3 doses (0-6-12 meses)</td>
            <td>Licenciada para uso por pessoas com idades entre 0 e 45 anos</td>
            <td>-</td>
            <td>Não</td>
        </tr>
        <tr>
            <th scope="row">Febre Amarela [A]</th>
            <td>Até 2 doses, com intervalo de 10 anos.</td>
            <td colspan="2">Rotina para residentes em áreas com recomendações de vacinação.<br>
                Se persistir o risco, administrar uma segunda dose após 10 anos.<br>
                Vacinar pelo menos 10 dias antes da viagem.
            </td>
            <td>Sim (em situações e regiões específicas)</td>
        </tr>

        <tr>
            <th scope="row">Hepatite A</th>
            <td>2 doses (0-6 meses)</td>
            <td>Indicada para indivíduos não imunizados anteriormente. <br> Considerar a vacinação nas
                gestantes
                suscetíveis.</td>
            <td>Recomendada após avaliação sorológica ou <br> em situação de surtos e pós-exposição.
            </td>
            <td>Sim, em CRIEs(em situações específicas)</td>
        </tr>
        <tr>
            <th scope="row">Hepatite B</th>
            <td>3 doses (0-1-6 meses) </td>
            <td colspan="2">Indicada para indivíduos não imunizados anteriormente. </td>
            <td>Sim, em UBS</td>
        </tr>
        <tr>
            <th scope="row">Hepatite A e B</th>
            <td>3 doses (0-1-6 meses)</td>
            <td colspan="2">A vacina combinada é uma opção e pode substituir a vacinação isolada para as
                hepatites A e B.</td>
            <td>Não</td>
        </tr>
        <tr>
            <th scope="row">Herpes-zóster (A)</th>
            <td>1 dose </td>
            <td>Licenciada para uso a partir de 50 anos de idade.</td>
            <td>Rotina. <br> Se já apresentou zóster, aguardar 1 ano <br> após o episódio da doença para
                vacinar.</td>
            <td>Não</td>
        </tr>
        <tr>
            <th scope="row">HPV</th>
            <td>3 doses (0-1-6 meses ou 0-2-6 meses)</td>
            <td>A vacina HPV 6, 11, 16 e 18 (HPV4 - recombinante) está licenciada para <br> mulheres de
                9 a 45
                anos,
                e homens de 6 a 26 anos. A vacina HPV 16 e 18 (HPV2 - recombinante) está licenciada para
                mulheres a partir de 9 anos. Ambas são contraindicadas para gestantes.</td>
            <td>-</td>
            <td>Sim, a vacina HPV4 em CRIEs, para mulheres < 26 anos que vivem com o HIV.</td>
        </tr>
        <tr>
            <th scope="row">Influenza (gripe) </th>
            <td>1 dose anual</td>
            <td colspan="2">Desde que disponível, a vacina influenza quadrivalente (4V) é preferível à
                vacina
                trivalente (3V).</td>
            <td>Sim, em UBS (a 3V para os grupos de risco)</td>
        </tr>
        <tr>
            <th scope="row">MeningocócicaACWY ou C</th>
            <td>1 dose</td>
            <td colspan="2">A indicação da vacina e a necessidade de reforço dependerão da situação
                epidemiológica. <br>
                Na indisponibilidade da vacina ACWY, substitui-la pela vacina meningocócica C (MenC).
            </td>
            <td>Sim a MenC, em CRIEs (em situações especiais)</td>
        </tr>
        <tr>
            <th scope="row">Meningocócica B</th>
            <td>2 doses (0-2 meses)</td>
            <td>A indicação depende da situação epidemiológica.</td>
            <td>-</td>
            <td>Não</td>
        </tr>
        <tr>
            <th scope="row">Pneumocócica 23-valente (polissacarídica(VPP23)</th>
            <td>1 dose. Segunda dose após 5 anos, dependendo da situação.</td>
            <td>Recomendada para indivíduos com risco elevado de doença pneumocócica invasiva, <br>
                tais como diabetes, cardiopatias e pneumopatias.</td>
            <td rowspan="2">Rotina. Iniciar com 1 dose de VPC13, que deveser seguida por 1 dose de
                VPP23, 6 a 12
                meses depois.
                Uma nova dose de VPP23 deve seradministrada após 5 anos. Ao se iniciar com 1 dose de
                VPP23,
                administrarVPC13 após 1 ano e uma segunda dose de VPP23 6 a 12 meses depois,
                5 anos após a primeira VPP13. </td>
            <td>Sim, em CRIEs(em situações específicas)</td>
        </tr>
        <tr>
            <th scope="row">Pneumocócica13- valente (conjugada)(VPC13)</th>
            <td>1 dose</td>
            <td>Licenciada para uso a partir de 50 anos. Fica a critério do médico a recomendação nessa
                faixa
                etária.</td>
            <td>Não</td>
        </tr>
        <tr>
            <th scope="row">Tríplice bacteriana tipo adulto (dTpa) ou dupla adulto (dT)</th>
            <td>1 dose dTpa + 2 doses dT Reforço de dTpa a cada 10 anos</td>
            <td>A cada gestação aplicar 1 dose de dTpa, preferencialmente entre a 27ª e a 36ª semana.
                Considerar a antecipação do reforço com dTpa para 5 anos para os contactantes de
                lactentes.</td>
            <td>Rotina.</td>
            <td>Sim, em UBS (dT para todos e dTpa para gestantes)</td>
        </tr>
        <tr>
            <th scope="row">Tríplice viral (SCR) (A)</th>
            <td>2 doses, com intervalo mínimo de 1 mês</td>
            <td>Considera-se protegido o indivíduo que recebeu 2 doses de vacina,
                com intervalo mínimo de 1 mês, após 1 ano de idade.</td>
            <td>Indicada no caso de situações de risco aumentado.</td>
            <td>Sim, em UBS (até 49 anos)</td>
        </tr>
        <tr>
            <th scope="row">Varicela (A)</th>
            <td>2 doses, com intervalo da 1 a 2 meses</td>
            <td>Considerar a suscetibilidade individual.</td>
            <td>-</td>
            <td>Não</td>
        </tr>
    </table>
</div>
<footer>
    <div class="footer--area">
        <div class="footer--item area1">
            <div class="footer-social">
                <a href=""><img src="images/twitter.png" /></a>
                <a href=""><img src="images/linkedin.png" /></a>
                <a href=""><img src="images/facebook.png" /></a>
            </div>
        </div>
        <div class="footer--item area2">
            rodapé
        </div>
    </div>
</footer>